<div class="footer">
    <p>I am a footer for this website</p>
    <p>Write to me on email through <a href="mailto:midwaymaster10gmail.com">midwaymaster10gmail</a></p>
    <p>Or find on X (formerly Twitter) <a href="https://x.com/munene254_">@munene254_</a></p>
</div>